doctype
html
    head
        meta(charset="utf-8")
        title index
        style.
            div {width:50px;height:50px;background:#ddd;float:left;text-align:center;line-height:50px}
            .last{clear:left}
    body
        -var a = 0
        while a<12
            if a%4==0 && a!=0
                div.last=a++
            else
                div=a++

